/* Custom font definition */
@font-face {
    font-family: 'ıbm';
    src: url('assets/fonts/ıbm.ttf') format('opentype');
}

/* Another custom font definition */
@font-face {
    font-family: 'ıbm2';
    src: url('assets/fonts/ıbm2.ttf') format('truetype');
    /* If you have different font formats, you can also add them:
    src: url('assets/fonts/yeni-font.woff2') format('woff2'),
         url('assets/fonts/yeni-font.woff') format('woff'),
         url('assets/fonts/yeni-font.ttf') format('truetype');
    */
}

/* General page styles */
body {
    font-family: 'ıbm'; /* Sets the default font */
    margin: 0; /* Resets the margin */
    padding: 0; /* Resets the padding */
    height: 100vh; /* Sets height to full viewport height */
    overflow: hidden; /* Hides overflow content */
    background: url('assets/images/background.png') no-repeat center center fixed; /* Background image settings */
    background-size: cover; /* Ensures background image covers the entire area */
}

/* Background video styles */
#backgroundVideo {
    position: fixed; /* Fixed position */
    right: 0;
    bottom: 0;
    min-width: 100%; /* Minimum width */
    min-height: 100%; /* Minimum height */
    width: auto; /* Automatic width */
    height: auto; /* Automatic height */
    z-index: -1; /* Z-index setting */
    object-fit: cover; /* Ensures the video covers the entire area */
    display: none; /* Initially hides the video */
}

/* Minimal button styles */
.minimal-button {
    position: fixed; /* Fixed position */
    bottom: 5px; /* 5px from the bottom */
    right: 5px; /* 5px from the right */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    border-radius: 50%; /* Circular shape */
    width: 40px; /* Width */
    height: 40px; /* Height */
    cursor: pointer; /* Cursor changes to pointer */
    z-index: 3; /* Z-index setting */
    transition: background-color 0.3s ease; /* Background color transition */
}

/* Background color change on hover */
.minimal-button:hover {
    background-color: #ff000030;
}

/* Content of the minimal button */
.minimal-button::after {
    content: ''; /* No content */
    position: absolute; /* Absolute position */
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    transform: translate(-50%, -50%); /* Centering */
    width: 15px; /* Width */
    height: 15px; /* Height */
    background-color: rgba(255, 255, 255, 0.5); /* Background color */
    border-radius: 50%; /* Circular shape */
    opacity: 0; /* Transparent */
    transition: opacity 0.3s ease; /* Opacity transition */
}

/* Makes the button content visible on hover */
.minimal-button:hover::after {
    opacity: 1;
}

/* Overlay for the page */
.overlay {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1; /* Z-index setting */
}

/* Content container */
.container {
    position: relative; /* Relative position */
    z-index: 2; /* Z-index setting */
    text-align: center; /* Center text */
    color: white; /* Text color white */
    padding: 50px; /* Padding */
    margin: 100px auto; /* Margin and centering */
    max-width: 800px; /* Maximum width */
}

/* Heading styles */
h1 {
    font-size: 2.5em; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
}

/* Paragraph styles */
p {
    font-size: 1.2em; /* Font size */
    line-height: 1.5; /* Line height */
    font-weight: 900; /* Font weight */
}

/* Discord status container */
.discord-status {
    margin: 20px 0; /* Top and bottom margin */
}

/* Discord status image styles */
.discord-status img {
    max-width: 65%; /* Maximum width */
    height: auto; /* Automatic height */
}

/* Button container */
.button-container {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Vertical direction */
    align-items: center; /* Center items */
    gap: 15px; /* Gap between items */
    margin: 20px 0; /* Top and bottom margin */
}

/* Custom button styles */
.custom-button {
    display: inline-block; /* Inline block */
    background-color: rgba(0, 0, 0, 0.3); /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold font */
    width: 46.2%; /* Width */
    text-align: center; /* Center text */
    backdrop-filter: blur(5px); /* Blur background */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Relative position */
    transition: background-color 0.3s ease; /* Background color transition */
    font-family: 'ıbm2'; /* Custom font */
    font-size: 16px; /* Font size */
}

/* Span element inside custom button */
.custom-button span {
    display: inline-block; /* Inline block */
    transition: transform 0.3s ease; /* Transform transition */
}

/* Custom button background color change on hover */
.custom-button:hover {
    background-color: rgba(34, 34, 34, 0.3);
}

/* Scale up the span element on hover */
.custom-button:hover span {
    transform: scale(1.1);
}
