@font-face {
    font-family: 'Roboto';
    src: url('fonts/ıbm.ttf') format('opentype');
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: url('assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    display: none;
}

.minimal-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.minimal-button:hover {
    background-color: #ff000030;
}

.minimal-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.minimal-button:hover::after {
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    position: relative; 
    z-index: 2;
    text-align: center;
    color: white;
    padding: 50px;
    margin: 100px auto;
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 900;
}

.discord-status {
    margin: 20px 0;
}

.discord-status img {
    max-width: 65%;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.custom-button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    width: 46.2%;
    text-align: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease;
}

.custom-button span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.custom-button:hover {
    background-color: rgba(34, 34, 34, 0.3);
}

.custom-button:hover span {
    transform: scale(1.1);
}